<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>AllPlay From Stream</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />

    <link href="{{ url_for('static', filename='simple-sidebar.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='allplay.css') }}"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.10.4/rzslider.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.10.4/rzslider.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-cookies.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='checklist-model.js') }}"></script>
    <script src="{{ url_for('static', filename='dirPagination.js') }}"></script>
    <script src="{{ url_for('static', filename='allplay.js') }}"></script>

  </head>

  <body ng-app="AllPlayApp" ng-controller="MainController">

 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        AllPlay Speakers
                    </a>
                </li>

              <li style="display:inline-block;margin:20px;padding:10px;height:50px;width:150px;" ng-repeat="device in devices">
               <rzslider rz-slider-model="device.value" rz-slider-low="device.minValue"  rz-slider-options="device.options"></rzslider>
               <input type="checkbox" checklist-model="selected_devices" checklist-value="device.device_id" checklist-change="devicesChanged()">  [[device.name]]
              </li>

                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

     <div class="app">

      <button ng-click="speakers()">Speakers</button>

      <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
      <div class="app-body">
        <div class="app-content" >

        <form method="post">

          <fieldset>
            <div class="col-xs-12 col-sm-12 col-md-8" col-lg-8" col-xl-8" style="padding:5px;">  
 
              <div style="padding:5px;">
                <button ng-click="toggle_queue()">Queue</button> 
                <button ng-click="stop()">Stop</button>
                <button ng-click="pause()">Pause</button>
                <button ng-click="play()">Play</button>
              </div>

            </div>

          </fieldset>
    
        </form>

        <br>

	      <div ng-view>
            </div>
        </div>

      </div>

      </div>


    </div><!-- ~ .app -->


  </body>
</html>
