<div style="padding:5px;">

    <div><label style="width:400px;">Filepath: [[item.path]]</label></div>
    <div><label style="width:50px;">Title</label><input ng-model="item.title" type="text" size="50" /></div>
    <div><label style="width:50px;">Album</label><input ng-model="item.album" type="text" size="50" /></div>
    <div><label style="width:50px;">Artist</label><input ng-model="item.artist" type="text" size="50" /></div>

    <br>
    
    <button ng-click="cancel_metadata()">Cancel</button> 
    <button ng-click="apply_metadata()">Apply</button>

</div>
